input.form-control {
  margin: 0 0.50em 0.30em 0;
  display: inline-block;
  width: auto;
}

label.form-control {
  width: auto;
  height: auto;
  border: 1px solid #acacac;
  display: inline-block;
}

label.checkboxes {
  width: auto;
  height: auto;
  display: inline-block;
  font-size: 0.7rem;
}


.disclaimer {
  font-size: 0.5rem;
}
