input.form-control {
    margin: 0.35em 0.35em 0 0;
    display: inline-block;
    width: auto;
}

label.form-control {
    width: auto;
    height: auto;
    border: 1px solid #acacac;
    display: inline-block;
}

.disclaimer {
    font-size: 0.8rem;
}