#skip-links {
  position: fixed;
  top: var(--header-height);
  height: auto;
  left: -200vw;
  padding: 10px;
  text-decoration: none;
  margin-left: 10px;
  border: 1px solid black;
  text-shadow: none;
  background-image: none;
  &:focus {
    left: 0;
  }
}

header {
  display: inline-grid;
  max-width: 100vw;
  position: relative;
  background: white;
  z-index: 10;
  @media (max-width: 1279.9px) {
    z-index: 12;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    border-bottom: none;
    text-shadow: none;
    background-image: none;
    grid-column-start: 2;
    grid-column-end: span 3;

    .img-with-text {
      display: flex;
      display: row;
      justify-content: center;
      align-items: flex-end;
      font-size: 16px;
      font-family: IBMPlexMono-SemiBold, IBM Plex Mono;
      font-weight: 600;
      line-height: 18px;
      svg {
        width: 25px;
        padding: 0;
        margin-right: 8px;
      }
      span {
        position: relative;
        top: 2px;
      }
    }

    span {
      color: black;
    }
    @media (min-width: 767px) {
      grid-column-end: span 2;
      width: 120px;
    }
    svg,
    img {
      width: 100%;
      margin-bottom: 0;
      //   width: 100px;
    }
  }

  #logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100px;
    img,
    span {
      display: block;
      width: 50%;
    }
  }
  .right-links {
    grid-column: 5;
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 767px) {
      grid-column: 13;
    }
    @media screen and (min-width: 1280px) {
      grid-column: 4;
    }

    #mobile-trigger {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      position: relative;
      align-items: flex-end;
      width: 50px;
      @media (min-width: 980px) {
        grid-column: 13;
      }
      button {
        border: none;
        padding: 0;
        width: 32px;
        height: 32px;
        background: none;
      }
      @media (min-width: 1280px) {
        display: none;
      }
    }
    .lang-select-wrapper {
      padding-right: 9px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70px;
      position: relative;
      #lang-select {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: 0.6em 1.4em 0.5em 0.8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
        border-radius: 0.5em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        // background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        //   linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
      }
      i {
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        position: absolute;
        right: 18px;

        &.down {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }
  }
}
#links {
  z-index: 10;
  grid-row: 1;
  position: relative;
  z-index: 11;
  @media (max-width: 1279.9px) {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: white;
    text-align: right;
    height: 100vh;
    width: 275px;
    right: -100vw;
    animation: slideout 0.2s;
    animation-timing-function: ease-in;
    ul {
      margin: 0;
      padding: 100px 16px 20px;
      position: relative;
      z-index: 12;
      background: white;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    &::after {
      display: none;

      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      content: " ";
      background: black;
      opacity: 0;
      transition: opacity 0.2s;
    }
    @keyframes slidein {
      0% {
        cursor-events: none;
        right: -100vw;
      }
      1% {
        cursor-events: auto;
      }
      100% {
        right: 0;
      }
    }
    @keyframes slideout {
      0% {
        right: 0;
      }
      99% {
      }
      100% {
        right: -100vw;
        cursor-events: none;
      }
    }
    &[data-open="true"] {
      animation: slidein 0.2s forwards;
      &::after {
        display: block;
        opacity: 0.6;
      }
    }
    li {
      margin-right: 12px;
      display: flex;
      justify-content: flex-end;
      text-align: right;
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
      a {
      }
    }
  }
  @media (min-width: 1280px) {
    display: flex;
    width: 100%;
    grid-column-start: 6;
    grid-column-end: 14;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 0;
      li {
        margin-bottom: 0;
        list-style: none;
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
