:root {
  margin: 0;
  padding: 0;
  background: white;
  .pageContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
    grid-template-rows: 85px auto auto;
    min-height: 100vh;
    grid-template-areas:
      "hd  hd   hd   hd   hd   hd"
      "... main main main main ..."
      "ft  ft   ft   ft   ft   ft";
    @media (min-width: 980px) {
      grid-template-columns: 2fr repeat(12, 1fr) 2fr;
      grid-template-areas:
        "hd  hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
        "... main main main main main main main main main main main main ..."
        "ft  ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";
    }
    * {
      box-sizing: border-box;
    }
    header {
      grid-area: hd;
    }
    footer {
      margin-top: 2rem;
      grid-area: ft;
    }
    main {
      min-height: calc(100vh - 85px);
      max-width: 100%;
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .inline-grid {
      display: inline-grid;
      grid-template-columns: inherit;
      column-gap: inherit;
    }
    ul {
      &.cities {
        margin-left: 0;
      }
    }
  }

  input {
    border: 1px solid #acacac;
  }

  details {
    width: 100%;
    cursor: pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    color: #3591cb;
    font-size: 24px;
    margin-bottom: 16px;
  }

  h1 {
    margin: 16px 0;
    font-size: 28px;
  }
  h2 {
  }
}
