:root {
  margin: 0;
  padding: 0;
  .pageContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
    grid-template-rows: 85px auto auto;
    min-height: 100vh;
    grid-template-areas:
      "hd  hd   hd   hd   hd   hd"
      "... main main main main ..."
      "ft  ft   ft   ft   ft   ft";
    @media (min-width: 980px) {
      grid-template-columns: 2fr repeat(12, 1fr) 2fr;
      grid-template-areas:
        "hd  hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
        "... main main main main main main main main main main main main ..."
        "ft  ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";
    }
    * {
      box-sizing: border-box;
    }
    header {
      grid-area: hd;
    }
    footer {
      margin-top: 2rem;
      grid-area: ft;
    }
    main {
      min-height: calc(100vh - 85px);
      max-width: 100%;
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .inline-grid {
      display: inline-grid;
      grid-template-columns: inherit;
      column-gap: inherit;
    }
    ul {
      &.cities {
        margin-left: 0;
      }
    }
  }
}
input {
  border: 1px solid #acacac;
}
button {
  border: 1px solid #acacac;
  background: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: #3591cb;
}
