:root {
  margin: 0;
  padding: 0;
  background: white;
  --header-height: 85px;
  @media (min-width: 980px) {
    --header-height: 100px;
  }
  .pageContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
    grid-template-rows: var(--header-height) auto auto;
    min-height: 100vh;
    grid-template-areas:
      "hd  hd   hd   hd   hd   hd"
      "... main main main main ..."
      "ft  ft   ft   ft   ft   ft";
    @media (min-width: 980px) {
      grid-template-columns: 2fr repeat(12, 1fr) 2fr;
      grid-template-areas:
        "hd  hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
        "... main main main main main main main main main main main main ..."
        "ft  ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";
    }
    * {
      box-sizing: border-box;
    }
    header {
      background-color: #2F7DF7;
      grid-area: hd;
      margin-bottom: 0rem;
    }
    footer {
      margin-top: 2rem;
      grid-area: ft;
    }
    main {
      min-height: calc(100vh - 85px);
      max-width: 100%;
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .inline-grid {
      display: inline-grid;
      grid-template-columns: inherit;
      column-gap: inherit;
    }
    ul {
      &.cities {
        margin-left: 0;
      }
    }
    a {
      text-shadow: none;
      background-image: none;
    }
  }

  input {
    border: 1px solid #acacac;
  }

  details {
    width: 100%;
    cursor: pointer;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    color: #3591cb;
    font-size: 24px;
    margin: 14px 0px;
  }
 
  h1 {
    margin: 16px 0;
    font-size: 28px;
  }

  .main-page-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    @media (min-width: 980px) {
      flex-direction: row;
    }

    h4 {
      color: black;
      font-size: 32px;
      @media (min-width: 980px) {
        text-align: left;
      }
    }

    .section-btn {
      align-self: left;
    }

    .section-img {
      width: 250px;
      @media (min-width: 980px) {
        height: 370px;
        width: 460px;
      }
    }
    
    .section-txt {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }
  }
}
