#newsletterSubscribe {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  @media screen and (min-width: 767px) {
  }

  .notice {
    margin-right: 24px;
  }

  .MuiInput-formControl {
    display: inline-block;

    input {
      box-sizing: initial;
      border: 0;
    }
  }
  button[type="submit"].primaryButton {
    display: inline-block;
    width: 42px;
    padding: 0;
    background: none;
    margin-left: 12px;
  }
}
